.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.forgotPassButton {
    width: 30%;
}