.productPreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(20% - 20px);
}

.productPreviewImage{
    max-width: 40%;
    width: 40%;
}

.productPreviewImage:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
  transition: transform 0.2s ease; /* Agrega una transición suave */
}

.productName{
  font-weight: bold;
  text-align: center;
}

.price{
  font-style: italic;
  text-align: center;
  margin-top: 0;
}