.productsArea{

}

.titleProducts{
    font-size: 50px;
    margin-top: 0;
}

.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 0;
    height: 400px;
}

.productsFilter{
    background-color: #CEDEBD;

}

.productsWithFilter{
    display: grid;
    grid-template-columns: 15% 85%;
    margin-top: 100px;
    gap: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 5px;
}

.filterTitles{
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.priceFilter{
    display: flex;
    flex-direction: column;
}

.priceFilterNum{
    font-style: italic;
}

.pageButtons {
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #9EB384;
}

.pageButtons:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
}

.pageButtons:disabled {
    background: #d3cdc3;
    color:#FAF1E4;
    cursor: not-allowed;
}

.pageButtonsArea{
    display: flex;
    gap: 10px;
    padding-left: 25px;
    justify-content: flex-end;
}
.radioButtonsContainer{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.radioInput{

}