.header{
    width: 100%;
    position: fixed;
    background-color: #435334;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.logo{
    flex-basis: 67%;
}

.logoImage{
    width: 6%;
    padding: 10px 0 18px;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-left: auto;
    font-size: 30px;
    color: #FAF1E4;
}

.icons{
    font-size: 30px;
    display: flex;
    padding-right: 2%;
    gap: 37px;
    margin-left: auto;
    color: #FAF1E4;
}
